body {
    font-family: 'Raleway', sans-serif;
  }
  
  header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    
  }

  .text-nav {
    font-family: 'Raleway', sans-serif;
    }

 .navbar-dark {
    background-color:transparent;
}

.hero-line{
width: 350px;
height: 1px;

} 
