.navbar_icon {
    margin-left: 50px;
}

.user-info {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.user-info__summary {
    padding-left: .8em;
    h2 {
        margin: 0;
    }
    p {
        margin: 0;
        font-size: $x-small;
    }
}