body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    left: 100px;
    background-color: #fff;
}

.container {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 3rem;
}

.item {
    width: 15%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: coral;
    color: white;
}