body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    }

.navbar{
    width: 100%;
    background-color: green;
    display: inline-block;                       
    }

.main {
    margin: 5px;

}

.box{
    border: 2px solid #808080;
    height: max-content;
    width: 25%;
    padding:5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin-right: -5px;

    }

 .square {  
     height: 200px;
     width: 200px;
 }

    .square_red {
    background-color:rgba(255, 0, 0, .5);
    z-index: -1;
    }

    .square_green {
    background-color:rgba(0, 255, 0, .5);
    left: 25px ;
    position: absolute;
    top: 25px ;
    z-index: -2;
    }
    
    .square_blue {
    background-color:rgba(0, 0, 255, .5);
    left: 50px ;
    position: absolute;
    top: 50px ;
    z-index: -3;
    }
