        body {
            margin: 0;
            padding: 0;
            font-family: 'Raleway', sans-serif;
        }
        
        .main {
            background-color: #b0ccab;
            padding: 50px;
        }
        
        .main_paragraph {
            position: relative;
            left: 40px;
        }